:root {
  --title-font-family: "Nunito", sans-serif;
  --text-font-family: "Atkinson Hyperlegible", sans-serif;
}

p {
  color: rgba(0, 0, 0, 0.74);
}

/* Header */
#header {
  height: 70px;
  background: #8251ff;
  align-items: center;
  display: flex;
  padding: 1rem;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 50px calc((100% - 960px) / 2); /* Macete bg */
}

#logo {
  font-family: var(--title-font-family);
  font-size: 2.5em;
  font-weight: bold;
  color: #fff;
  width: 960px;
  margin: 0 auto;
}

#menu {
  display: flex;
  margin: 0 auto;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
}

#menu a {
  font-family: "Nunito", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  padding: 15px;
}

#menu a:hover {
  color: #0800ff;
}

#btn-mobile {
  display: none;
  font-family: var(--text-font-family);
}

@media (max-width: 720px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #8251ff;
    z-index: 1000;
    height: 0px;
    transition: 0.6s;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }

  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    color: #fff;
  }
  #hamburger {
    width: 20px;
    border-top: 2px solid;
    margin-right: 3px;
    /* color: cyan; */
  }
  #hamburger::after,
  #hamburger::before {
    content: "";
    width: 20px;
    height: 2px;
    background: currentColor;
    display: block;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
/* Introdução */
.introducao {
  background: url("../img/chess-intro.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 400px;
}

.intro-text {
  font-family: "Atkinson Hyperlegible", sans-serif;
  text-align: center;
  color: #fff;
  max-width: 960px;
  margin: 0 auto;
}

.intro-text h1 {
  font-weight: bold;
  font-size: 3em;
  text-transform: uppercase;
  padding: 60px 0;
  font-family: "Nunito", sans-serif;
}

.intro-text p {
  font-size: 1.5em;
  padding-bottom: 20px;
  color: #fff;
}

.intro-text p::after,
.intro-text p::before {
  content: "";
  width: 220px;
  height: 3px;
  display: block;
  background: #fff;
  margin: 9px auto;
}

.intro-text cite {
  font-size: 1.3em;
  font-weight: bold;
}

/* Xadrez */

.titulo {
  font-family: "Nunito", sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  padding: 40px 0;
}

.titulo::after {
  content: "";
  height: 4px;
  width: 120px;
  display: block;
  margin: 5px auto;
  background: #000;
}

.xadrez-principios {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.principios-info {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 1.25em;
  line-height: 1.4;
  padding-bottom: 5px;
  flex: 1 1 480px;
}

.principios-info p {
  margin-bottom: 1em;
}

.principios-img img {
  width: 400px;
  height: 400px;
  /* flex: 1 1 480px; */
  margin-left: 40px;
}

@media (max-width: 720px) {
  /* .xadrez-principios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .principios-info p {
    margin-left: 10px;
    margin-right: 10px;
  } */
}

/* Peças */
.pecas {
  grid-template-columns: 90px 250px 400px 200px;
  grid-column: 2 / 4;
  width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-gap: 20px;
  margin-bottom: 4rem;
}

.lista-pecas {
  cursor: pointer;
}
.lista-pecas img {
  max-width: 181px;
  max-height: 300px;
}

.lista-pecas {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}

.lista-pecas::-webkit-scrollbar {
  width: 18px;
}

.lista-pecas::-webkit-scrollbar-thumb {
  background: #8251ff;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}

.lista-pecas::-webkit-scrollbar-track {
  background: #faf6ed;
}
.xadrez-peca-info {
  grid-column: 3;
  margin-left: 20px;
}

.xadrez-peca-info h3 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 1.3em;
}

.xadrez-peca-info h3::before {
  content: "";
  height: 16px;
  width: 5px;
  background: #8251ff;
  display: inline-block;
  margin: 0 auto;
  margin-right: 7px;
}

.xadrez-peca-info section {
  display: none;
  animation: show 0.5s forwards;
}

.xadrez-peca-info section.ativo {
  display: block;
}

.xadrez-peca-info p {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 1.2em;
  line-height: 1.2;
  padding: 10px 0 10px 0;
  max-width: 300px;
}

.move-peca img {
  max-width: 300px;
  max-height: 300px;
}
.move-peca div {
  display: none;
}

.move-peca div.ativo {
  display: block;
}
@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 720px) {
  .pecas {
    display: flex;
    flex-wrap: wrap;
  }

  .lista-pecas img {
    justify-content: flex-start;
  }

  .xadrez-peca-info p {
    font-size: 1em;
    max-width: 150px;
    flex: 1 1 150px;
  }

  .move-peca img {
    display: none;
  }
}

/* Aberturas */

.xadrez-aberturas {
  max-width: 960px;
  margin: 0 auto;
}

.aberturas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.aberturas h3 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.aberturas h3::before {
  content: "";
  width: 6px;
  height: 19px;
  display: inline-block;
  margin: 0 auto;
  background: cornflowerblue;
  margin-right: 10px;
}

.aberturas p {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 1.2em;
  padding-bottom: 30px;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.74);
}
.aberturas img {
  max-width: 300px;
  margin: 0 auto;
  padding-bottom: 20px;
}

@media (max-width: 720px) {
  .aberturas h3 {
    margin-left: 5px;
  }
  .aberturas p {
    margin: 0 10px 0 10px;
  }
}
/* Jogadores */

.titulo-branco {
  font-family: "Nunito", sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  padding: 40px 0;
  color: #fff;
}

.titulo-branco::after {
  content: "";
  height: 4px;
  width: 120px;
  display: block;
  margin: 5px auto;
  background: #fff;
}

.bg-dark {
  background: #000;
}
.jogadores {
  width: 960px;
  margin: 0 auto;
  color: #fff;
}

.jogador {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 0;
}

.jogador img {
  max-width: 300px;
  max-height: 350px;
}

.jogador h3 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0 30px 0 30px;
  color: #fff;
  /* text-align: center; */
}

.jogador h3::before {
  content: "";
  width: 8px;
  height: 18px;
  display: inline-block;
  background: #37399d;
  margin: 0 5px 0 0;
}

.jogador p::before {
  content: "";
  width: 20px;
  height: 10px;
  display: inline-block;
  background: #6a01a3;
  margin: 0 5px 0 0;
}

.jogador-info {
  padding-left: 30px;
}

.jogador-info dt {
  font-family: "Nunito", sans-serif;
  font-size: 1.2em;
  margin-top: 20px;
}

.jogador-info dt::before {
  content: "";
  width: 20px;
  height: 10px;
  display: inline-block;
  background: #6a01a3;
  margin: 0 5px 0 0;
}

.jogador-info dt::after {
  content: "▼";
  margin-left: 10px;
  color: #6a01a3;
}

.jogador-info dt.ativo::after {
  content: "▲";
}

.jogador-info ul {
  display: none;
  font-family: "Atkinson Hyperlegible", sans-serif;
  line-height: 1.4em;
  max-width: 280px;
  font-size: 0.8em;
}

.jogador-info li::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #43f0b1;
  display: inline-block;
  margin-right: 10px;
  /* border: 2px solid #000; */
}

.jogador-info ul.ativo {
  padding-top: 10px;
  display: block;
}

.jogador-info dd {
  display: none;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 1em;
  max-width: 280px;
  padding-top: 10px;
}

.jogador-info dd.ativo {
  display: block;
}

@media (max-width: 720px) {
  html {
    overflow-x: hidden;
  }
  .jogadores {
    display: flex;
    flex-wrap: wrap;
  }
  .titulo-branco {
    font-size: 1.5em;
  }
  .jogador {
    flex: 1 1 500px;
  }

  .jogador img {
    width: 100px;
    margin-left: 10px;
  }
}

/* Canais */
.canais {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.canais h3 {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 1.3em;
  text-align: center;
  padding-bottom: 20px;
}

.canais h3::before {
  content: "";
  width: 6px;
  height: 16px;
  display: inline-block;
  background: cyan;
  margin: 0 5px 0 5px;
}

.canais img {
  width: 300px;
  height: 300px;
  /* border-radius: 50%; */
}

.canais p {
  font-size: 1.1em;
  font-family: "Atkinson Hyperlegible", sans-serif;
  max-width: 300px;
  padding-top: 20px;
}

@media (max-width: 720px) {
  .canais {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 70px;
  }

  .canais h3 {
    padding-top: 20px;
  }
}
/* Quebra */

.quebra {
  background: url("/img/bg-quebra.png") no-repeat center;
  background-size: cover;
  /* width: 100x; */
  height: 200px;
  margin-top: 40px;
  display: flex;
}

.quebra blockquote {
  width: 960px;
  margin: 0 auto;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 1.1em;
  color: #fff;
  padding-top: 60px;
  text-align: center;
}

.quebra p {
  color: #fff;
  padding-bottom: 20px;
}

.quebra p::before,
.quebra p::after {
  content: "";
  width: 60px;
  height: 3px;
  display: block;
  background: #fff;
  margin: 5px auto;
}

.quebra cite {
  font-weight: bold;
  font-size: 1.2em;
}

.footer {
  background: #8251ff;
  height: 90px;
}

.footer p {
  font-family: "Nunito", sans-serif;
  text-align: center;
  padding-top: 20px;
  color: #fff;
}

.footer a {
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
}

/* small devices */
@media screen and (max-width: 360px) {
  .intro-text h1 {
    font-size: 2em;
    display: flex;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 40px;
  }
  .intro-text blockquote {
    margin-top: 0;
  }
  .xadrez-principios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .principios-info p {
    padding-left: 10px;
    padding-right: 20px;
    /* justify-content: center; */
  }
  .principios-img img {
    width: 310px;
    margin: 0 auto;
  }
  .lista-pecas img {
    width: 120px;
  }
  .xadrez-aberturas h2 {
    padding-top: 0px;
  }
  .titulo-branco {
    padding-bottom: 10px;
  }
  .jogador-descricao dd {
    width: 180px;
  }
  .jogador ul {
    width: 180px;
  }
  .jogador h3 {
    font-size: 1.2em;
  }
  .canais {
    display: flex;
    padding-right: 20px;
    padding-left: 29px;
  }
  .canais p {
    text-align: center;
  }
  .quebra blockquote {
    padding-top: 20px;
  }
}
